@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900')
layer(base);

@import 'tailwindcss';
@config '../tailwind.config.js';
@plugin "daisyui";

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }

  body {
    /* Disables pull-to-refresh and overscroll effects. */
    overscroll-behavior: none;
    user-select: none;
  }
  html,
  body {
    height: 100%;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
  }
}

:root {
  --rounded-badge: 1.9rem;
}
